@using Duende.IdentityServer.Extensions
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - AC ID Server - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
