@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Shanghai<br />
    China<br />
    <abbr title="Phone">P:</abbr>
    0086-21-88888888
</address>

<address>
    <strong>Support:</strong> <a href="mailto:alvachien@live.com">alvachien@live.com</a><br />
</address>
