@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Shanghai<br />
    Shanghai, China<br />
    <abbr title="Phone">P:</abbr>
    0086 21 XXXXXXXX
</address>

<address>
    <strong>Contact me:</strong> <a href="mailto:alvachien@163.com">alvachien@163.com</a><br />
</address>
