<div class="welcome-page">
    <div class="jumbotron">
        <h1>AC Identity Server</h1>
        <p>Built by Alva Chien, 2016</p>

        <br />
        <p>Provides Identity for the following web apps:</p>
        <p>
            <a class="btn btn-primary btn-lg" href="http://achihui.azurewebsites.net" target="_blank" role="button">AC HIH</a>
            <a class="btn btn-primary btn-lg" href="http://acgallery.azurewebsites.net" target="_blank" role="button">AC Gallery</a>
            <a class="btn btn-primary btn-lg" href="http://acknowledge.azurewebsites.net" target="_blank" role="button">AC Knowledge</a>
            <a class="btn btn-primary btn-lg" href="http://acimgexif.azurewebsites.net" target="_blank" role="button">AC Image EXIF Viewer</a>
        </p>
    </div>
</div>
