@using System.Diagnostics

@{
    var version = FileVersionInfo.GetVersionInfo(typeof(acidserver.Startup).Assembly.Location).ProductVersion.Split('+').First();
}

<div>
    <div class="jumbotron">
        <h1>AC Identity Server <small>(version @version)</small></h1>
        <p>Built by Alva Chien, 2016 - 2020</p>
        <br />
        <p>Provides Identity for the following web apps (hosted on Microsoft Azure or Aliyun):</p>
        <p>
            <a class="btn btn-primary btn-lg" href="https://www.alvachien.com" target="_blank" role="button">Website Main Page</a>
            <a class="btn btn-primary btn-lg" href="https://www.alvachien.com/hih" target="_blank" role="button">H.I.H.</a>
            <a class="btn btn-primary btn-lg" href="https://www.alvachien.com/gallery" target="_blank" role="button">AC Gallery</a>
            <a class="btn btn-primary btn-lg" href="https://www.alvachien.com/math" target="_blank" role="button">Math Exercise</a>
        </p>
    </div>
</div>
