@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Built with <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a> and Identity Server.</p>
</div>
